<section class="doctor-detail-section-1">
    <div class="q-container header-container">
        <div class="text-container">
            <div class="wrapper">
                <h1 class="playfairdisplay font-xx-lg">Nicholas Kaus</h1>
                <span class="houschkalight">ORTHOPEDIST</span>
                <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac nibh sapien. Aliquam id ipsum id urna mollis luctus.</p>
            </div> 
        </div>
        <div class="img-container">
            <div class="img" style="background-image: url('../assets/img/about/img_doctor1.jpg')"></div>
        </div>
    </div> 
</section>