<section class="product-detail-section-2">
    <div class="content-container q-container">
        <div class="left-content">

            <div class="img-small-container">
                <div class="img-small top">
                    <img src="../../../assets/img/products/img_product1.png" />
                </div>
                <div class="img-small bottom">
                    <img src="../../../assets/img/products/img_product1.png" />
                </div>
            </div>

            <img class="img-big" src="../../../assets/img/products/img_product1.png" />
        </div>
        <div class="right-content">
            <h2 class="font-xx-md">GNC Herbal Plus Cinnamon Chromium 60 Caps</h2>
            <div class="stars-wrapper">
                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>

            <h2 class="font-xx-md">$20</h2>

            <div class="cart-container">
                <div class="counter">
                    <span class="inc-dec-btn">-</span>
                    <span class="houschka number">1</span>
                    <span class="inc-dec-btn">+</span>
                </div>

                <div class="btn-brush houschka">
                    ADD TO CART
                </div>
            </div>

            <h2 class="houschka font-s">Product Details</h2>

            <ul style="list-style: none;" class="houschkalight font-xxx-s">
                <li>Expiration Date: Jul 2019</li>
                <li>Shipping Weight: 2.4 ounces</li>
                <li>Product Code: NRT 12326</li>
                <li>UPC Code: 048107128463</li>
                <li>Dimensions: 1 x 1 x 1 inches: 1 Pounds</li>
            </ul>

            <h4 class="houschka">Delivery & Guarantee</h4>

        </div>
    </div>
</section>