<section class="products-section-5">

    <div class=" q-container title-container">
        <h2 class="playfairdisplay">All Products</h2>
        <p class="houschkalight" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
    </div>


    <div class="q-container filter-container houschka">

        <div class="wrapper">
            <div class="price "><span>PRICE:ALL</span><span class="icon">+</span></div>
            <div class="illness"><span>ILLNESS:ALL</span><span class="icon">+</span></div>
        </div>

        <div class="search">SEARCH</div>
    </div>

    <div class="q-container items-list ">
        <div class="item translate-left translate-top fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product1.png" />
            </div>
            
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="item translate-left  translate-bottom fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product2.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>
        <div class="item translate-right translate-top fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product3.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>
        <div class="item translate-right translate-bottom fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product4.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>
        <div class="item translate-left translate-top fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product1.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>
        <div class="item translate-left translate-bottom fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product2.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>
        <div class="item translate-right translate-top fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product3.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>
        <div class="item translate-right translate-bottom fz-animate" fz-to="700">
            <div class="img-container">
                <img src="../assets/img/products/img_product4.png" />
            </div>
            <div class="text-container">
                <h2 class="active">
                    <span>$20</span>
                    <span>Cinnamon &</span>
                    <span>Chromium</span>
                </h2>
                <p class="active">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                
                <div class="cart-container">
                    <div class="counter">
                        <span class="inc-dec-btn">-</span>
                        <span class="houschka number">1</span>
                        <span class="inc-dec-btn">+</span>
                    </div>

                    <div class="btn-brush houschka">
                        ADD TO CART
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="btn-load-more houschka" style="background-image: url('../../../assets/img/products/img_button.png')">LOAD MORE</div>
</section>