<section class="cart-section-1">

    <div class="q-container cart-container">
        <h1 class="playfairdisplay">Your Cart</h1>
        <div class="cart-item-container index-container">
            <div class="item index houschka">
                Item
            </div>
            <div class="price index houschka">
                Price
            </div>
            <div class="counter-container index houschka">
                Quantity
            </div>
            <div class="total-price index houschka">
                Total
            </div>
            <div class="btn-remove index houschka"></div>
        </div>

        <div class="cart-item-container">
            <div class="item">
                <img class="item-img" src="../assets/img/products/img_product1.png" />
                <div class="text-container">
                        <h2 class="houschka">Cinnamon & Chromium</h2>
                    <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                </div>
            </div>
            <div class="price houschka">$20</div>
            <div class="counter-container">
                <div class="counter-btn">-</div>
                <span class="counter houschka">1</span>
                <div class="counter-btn">+</div>
            </div>
            <div class="total-price houschka">$20</div>
            <div class="btn-remove houschka">Remove</div>
        </div>
        <div class="cart-item-container">
            <div class="item">
                <img class="item-img" src="../assets/img/products/img_product1.png" />
                <div class="text-container">
                        <h2 class="houschka">Cinnamon & Chromium</h2>
                    <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                </div>
            </div>
            <div class="price houschka">$20</div>
            <div class="counter-container">
                <div class="counter-btn">-</div>
                <span class="counter houschka">1</span>
                <div class="counter-btn">+</div>
            </div>
            <div class="total-price houschka">$20</div>
            <div class="btn-remove houschka">Remove</div>
        </div>
        <div class="cart-item-container">
            <div class="item">
                <img class="item-img" src="../assets/img/products/img_product1.png" />
                <div class="text-container">
                        <h2 class="houschka">Cinnamon & Chromium</h2>
                    <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                </div>
            </div>
            <div class="price houschka">$20</div>
            <div class="counter-container">
                <div class="counter-btn">-</div>
                <span class="counter houschka">1</span>
                <div class="counter-btn">+</div>
            </div>
            <div class="total-price houschka">$20</div>
            <div class="btn-remove houschka">Remove</div>
        </div>
        <div class="cart-item-container">
            <div class="item">
                <img class="item-img" src="../assets/img/products/img_product1.png" />
                <div class="text-container">
                        <h2 class="houschka">Cinnamon & Chromium</h2>
                    <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed bibendum velit. In vitae nisl non nibh aliquet tristique sed a tortor.</p>
                </div>
            </div>
            <div class="price houschka">$20</div>
            <div class="counter-container">
                <div class="counter-btn">-</div>
                <span class="counter houschka">1</span>
                <div class="counter-btn">+</div>
            </div>
            <div class="total-price houschka">$20</div>
            <div class="btn-remove houschka">Remove</div>
        </div>
    </div>

    <div class="cart-options-container q-container">
        <div class="promotion-container">
            <div class="promotion-code houschkalight">Enter your promotion code                    
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 792 792"><path d="M580.8 369.6L211.2 0l-26.4 26.4L554.4 396 184.8 765.6l26.4 26.4 396-396"/></svg>
            </div>
            <h2 class="houschka" style="font-size: 30px; margin-top: 20px; margin-bottom: 10px;">Subtotal: </h2>
            <h2 class="houschka font-x-lg">$75</h2>
        </div>

        <div class="btn-container">
            <div class="btn houschka">CHECK OUT</div>
            <h2 class="houschka">OR</h2>
            <div class="btn houschka">CONTINUE SHOPPING</div>
        </div>
    </div>
</section>