<section class="tnt-section-3">

    <div class="q-container filter-container houschka">

        <div class="wrapper">
            <div class="price "><span>PRICE:ALL</span><span class="icon">+</span></div>
            <div class="illness"><span>ILLNESS:ALL</span><span class="icon">+</span></div>
        </div>

        <div class="search">SEARCH</div>
    </div>

    <div class="q-container tips-cards-container fz-animate" fz-to="400">
        <div class="tips-card">
            <div class="inner" style="background-image: url('../assets/img/tips_n_tricks/img_article1.jpg')">
                <div class="text-container">
                    <h2 class="playfairdisplay">European Traditional Herbalism</h2>
                    <p class="houschkalight font-x-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id vulputate nibh, in porttitor arcu. Ut commodo orci est, nec placerat justo sodales quis.</p>
                </div>
            </div>
        </div>
        <div class="tips-card">
            <div class="inner" style="background-image: url('../assets/img/tips_n_tricks/img_article2.jpg')">
                <div class="text-container">
                    <h2 class="playfairdisplay">5 Healthy Eating Tips</h2>
                    <p class="houschkalight font-x-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id vulputate nibh, in porttitor arcu. Ut commodo orci est, nec placerat justo sodales quis.</p>
                </div>
            </div>
        </div>
        <div class="tips-card">
            <div class="inner" style="background-image: url('../assets/img/tips_n_tricks/img_article3.jpg')">
                <div class="text-container">
                    <h2 class="playfairdisplay">10 Brilliant Health Tips You'll Want to Make a Habit</h2>
                    <p class="houschkalight font-x-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id vulputate nibh, in porttitor arcu. Ut commodo orci est, nec placerat justo sodales quis.</p>
                </div>
            </div>
        </div>
        <div class="tips-card">
            <div class="inner" style="background-image: url('../assets/img/tips_n_tricks/img_article4.jpg')">
                <div class="text-container">
                    <h2 class="playfairdisplay">5 Healthy Eating Tips</h2>
                    <p class="houschkalight font-x-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id vulputate nibh, in porttitor arcu. Ut commodo orci est, nec placerat justo sodales quis.</p>
                </div>
            </div>
        </div>
        <div class="tips-card">
            <div class="inner" style="background-image: url('../assets/img/tips_n_tricks/img_article5.jpg')">
                <div class="text-container">
                    <h2 class="playfairdisplay">10 Brilliant Health Tips You'll Want to Make a Habit</h2>
                    <p class="houschkalight font-x-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id vulputate nibh, in porttitor arcu. Ut commodo orci est, nec placerat justo sodales quis.</p>
                </div>
            </div>
        </div>
        <div class="tips-card">
            <div class="inner" style="background-image: url('../assets/img/tips_n_tricks/img_article6.jpg')">
                <div class="text-container">
                    <h2 class="playfairdisplay">European Traditional Herbalism</h2>
                    <p class="houschkalight font-x-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id vulputate nibh, in porttitor arcu. Ut commodo orci est, nec placerat justo sodales quis.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="btn-brush houschka">LOAD MORE</div>

</section>