<section class="tnt-section-1">
    <div class="parallax-img fz-bglax" bglax-speed="0.5" style="background-image: url('../../../assets/img/tips_n_tricks/bg_tips_n_tricks.jpg')"></div>
    <div class="title-container">
        <h1 class="title font-ultra-giant">Tips & Tricks</h1>
    </div>
    <div class="white-paint-decoration" style="background-image: url('../../../assets/img/products/img_brush.png')"></div>
</section>