<section class="tnt-section-2">
    <div class="tnt-tips-carousel">
        <div class="carousel-item init-active">
                <div class="carousel-brush img-1" style="background-image: url('../assets/img/products/img_brushcategory1.png')"></div>
                <div class="carousel-item-inner img-1">
                    <div class="color-layer orange-gradient houschkalight"><span>Shidda Medicine</span></div>
                </div>
            </div>
            <div class="carousel-item init-active">
                <div class="carousel-brush img-2" style="background-image: url('../assets/img/products/img_brushcategory2.png')"></div>
                <div class="carousel-item-inner img-2">
                    <div class="color-layer green-gradient houschkalight"><span>Traditional Japanese Medicine</span></div>
                </div>
            </div>
            <div class="carousel-item init-active">
                <div class="carousel-brush img-3" style="background-image: url('../assets/img/products/img_brushcategory3.png')"></div>
                <div class="carousel-item-inner img-3">
                    <div class="color-layer blue-gradient houschkalight"><span>Ayurved</span></div>
                </div>
            </div>
            <div class="carousel-item init-active">
                <div class="carousel-brush  img-4" style="background-image: url('../assets/img/products/img_brushcategory4.png')"></div>
                <div class="carousel-item-inner img-4">
                    <div class="color-layer purple-gradient houschkalight"><span>Chinese Herbal Medicine</span></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-brush img-3" style="background-image: url('../assets/img/products/img_brushcategory3.png')"></div>
                <div class="carousel-item-inner img-3">
                    <div class="color-layer orange-gradient houschkalight"><span>Ayurved</span></div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-brush  img-4" style="background-image: url('../assets/img/products/img_brushcategory4.png')"></div>
                <div class="carousel-item-inner img-4">
                    <div class="color-layer green-gradient houschkalight"><span>Chinese Herbal Medicine</span></div>
                </div>
            </div>
    </div>
</section>