{% extends "layouts/main.njk" %}
{% block content %}
    {% include "sections/center-detail/center-detail-section-1.njk" %}
    {% include "sections/center-detail/center-detail-section-2.njk" %}
    {% include "sections/center-detail/center-detail-section-3.njk" %}
    {% include "sections/center-detail/center-detail-section-4.njk" %}
    <div style="height: 1000px; width: 100%;"></div>
{%  endblock %}