{% extends "layouts/main.njk" %}
{% block content %}
    <div class="diagnostic-bg"></div>
    <div id="fullpage" class="diagnostic-fullpage">
        {% include "sections/diagnostic/diagnostic-section-1.njk" %}
        {% include "sections/diagnostic/diagnostic-section-2.njk" %}
    </div>

{%  endblock %}