{% extends "layouts/main.njk" %}
{% block content %}
    {% include "sections/doctor-detail/doctor-detail-section-1.njk" %}
    {% include "sections/doctor-detail/doctor-detail-section-2.njk" %}
    <div style="height: 1000px; width: 100%;"></div>
{%  endblock %}