{% extends "layouts/main.njk" %}
{% block content %}
    {% include "sections/home/home-section-1.njk" %}
    {% include "sections/home/home-section-2.njk" %}
    {% include "sections/home/home-section-3.njk" %}
    {% include "sections/home/home-section-4.njk" %}
    {% include "sections/home/home-section-5.njk" %}
    {% include "sections/home/home-section-6.njk" %}
    {% include "sections/home/home-section-7.njk" %}
    <div style="height: 1000px; width: 100%;"></div>
{%  endblock %}