{% extends "layouts/main.njk" %}
{% block content %}
    {% include "sections/products/products-section-1.njk" %}
    {% include "sections/products/products-section-2.njk" %}
    {% include "sections/products/products-section-3.njk" %}
    {% include "sections/products/products-section-4.njk" %}
    {% include "sections/products/products-section-5.njk" %}
    <div style="height: 1000px; width: 100%;"></div>
{%  endblock %}