<section class="home-section-6">
    <div class="content-container q-container">
        <div class="left-content">

            <span class="small-heading opensansitalic">the centers</span>

            <h2 class="font-lg">
                <span>Explore traditional</span>
                <span>health centers</span>
                <span>world wide</span>
            </h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus.</p>
        
            <div class="btn-brush houschka font-xx-s">EXPLORE THE CENTERS</div>
        </div>
        <div class="right-content">
            <div class="parallax-img" style="background-image: url('../../../assets/img/home/img_centers_section.jpg')"></div>
        </div>
    </div>
</section>