<section class="home-section-1">
    <div class="parallax-img fz-bglax" bglax-speed="0.5" style="background-image: url('../../../assets/img/home/bg_hero.jpg')"></div>
    <div class="title-container">
        <h1 class="title font-ultra-giant">Welcome to Health Flow</h1>
        <div class="btn-brush houschka font-md">BROWSE PRODUCTS</div>
    </div>
</section>