<section class="home-section-5">

    <span class="small-heading opensansitalic">Reviews</span>

    <h2 class="font-lg">
        <span>What people say from</span>
        <span>around the world</span>
    </h2>

    <div class="home-review-carousel-container q-container">
        <div class="home-review-carousel">
            <div class="carousel-item">
                <div class="inner">
                    <div class="text-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus. Nunc viverra purus non quam maximus.</p>
                    </div>
                    <div class="profile-wrapper">
                        <div class="name-stars-wrapper">
                            <div class="stars-wrapper">
                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <h2 class="houschka">Robin Jefferson</h2>
                        </div>

                        <div class="img" style="background-image: url(../../../assets/img/home/img_review1.png)"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="inner">
                    <div class="text-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus. Nunc viverra purus non quam maximus.</p>
                    </div>
                    <div class="profile-wrapper">
                        <div class="name-stars-wrapper">
                            <div class="stars-wrapper">
                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <h2 class="houschka">Melanie Lynn</h2>
                        </div>

                        <div class="img" style="background-image: url(../../../assets/img/home/img_review2.png)"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="inner">
                    <div class="text-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus. Nunc viverra purus non quam maximus.</p>
                    </div>
                    <div class="profile-wrapper">
                        <div class="name-stars-wrapper">
                            <div class="stars-wrapper">
                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <h2 class="houschka">Jonathan Doe</h2>
                        </div>

                        <div class="img" style="background-image: url(../../../assets/img/home/img_review3.png)"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="inner">
                    <div class="text-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus. Nunc viverra purus non quam maximus.</p>
                    </div>
                    <div class="profile-wrapper">
                        <div class="name-stars-wrapper">
                            <div class="stars-wrapper">
                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <h2 class="houschka">Robin Jefferson</h2>
                        </div>

                        <div class="img" style="background-image: url(../../../assets/img/home/img_review1.png)"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="inner">
                    <div class="text-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus. Nunc viverra purus non quam maximus.</p>
                    </div>
                    <div class="profile-wrapper">
                        <div class="name-stars-wrapper">
                            <div class="stars-wrapper">
                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <h2 class="houschka">Melanie Lynn</h2>
                        </div>

                        <div class="img" style="background-image: url(../../../assets/img/home/img_review2.png)"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="inner">
                    <div class="text-container">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nunc augue. Donec tempor venenatis egestas. Sed in pellentesque turpis, non fringilla est. Curabitur vulputate dignissim dui in maximus. Nunc viverra purus non quam maximus.</p>
                    </div>
                    <div class="profile-wrapper">
                        <div class="name-stars-wrapper">
                            <div class="stars-wrapper">
                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>

                                <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                            <h2 class="houschka">Jonathan Doe</h2>
                        </div>

                        <div class="img" style="background-image: url(../../../assets/img/home/img_review3.png)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>