<section class="about-section-3">
    <div class="title-container">
        <h2 class="font-xx-md">Doctors</h2>
        <p class="text-center houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod metus vitae congue venenatis. Praesent quis neque ante. Etiam interdum egestas convallis. Nulla vestibulum orci ac molestie sodales.</p>
    </div>
    <div class="doctors-container q-container">
        <div class="doctor fz-animate" fz-to="600">
            <div class="img-container">
                <img src="../assets/img/about/img_doctor1.jpg" />
            </div>
            <div class="text-container">
                <h2 class="playfairdisplay font-x-lg">
                    <span>Nicholas</span>
                    <span>Kaus</span>
                </h2>
                <h3>Orthopedist</h3>
                <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod metus vitae congue venenatis. Praesent quis neque ante. Etiam interdum egestas convallis. Nulla vestibulum orci ac molestie sodales.</p>
            </div>
        </div>
        <div class="doctor fz-animate" fz-to="600">
            <div class="img-container">
                <img src="../assets/img/about/img_doctor2.jpg" />
            </div>
            <div class="text-container">
                <h2 class="playfairdisplay font-x-lg">
                    <span>Jose</span>
                    <span>Holland</span>
                </h2>
                <h3>Orthopedist</h3>
                <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod metus vitae congue venenatis. Praesent quis neque ante. Etiam interdum egestas convallis. Nulla vestibulum orci ac molestie sodales.</p>
            </div>
        </div>
        <div class="doctor fz-animate" fz-to="600">
            <div class="img-container">
                <img src="../assets/img/about/img_doctor3.jpg" />
            </div>
            <div class="text-container">
                <h2 class="playfairdisplay font-x-lg">
                    <span>Melanie</span>
                    <span>Lynn</span>
                </h2>
                <h3>Orthopedist</h3>
                <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod metus vitae congue venenatis. Praesent quis neque ante. Etiam interdum egestas convallis. Nulla vestibulum orci ac molestie sodales.</p>
            </div>
        </div>
    </div>

    <div class="btn-brush houschka">LOAD MORE</div>
</section>