<section class="about-section-2">
    <div class="q-container text-container">
        <h2 class="playfairdisplay font-lg">Our Mission</h2>
        <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod metus vitae congue venenatis. Praesent quis neque ante. Etiam interdum egestas convallis. Nulla vestibulum orci ac molestie sodales. Nam volutpat fermentum ipsum, quis iaculis libero volutpat sed. Cras ultricies elit nisi, nec sodales tellus ultricies eget. Mauris ac augue convallis, facilisis ipsum non, dictum elit.</p>
        <p class="houschkalight">Morbi viverra quis mi eu fermentum. Duis vitae aliquet lacus. Ut placerat nisi non dui porttitor, vel varius massa molestie. Duis imperdiet quis nibh ut posuere. Suspendisse metus quam, hendrerit quis faucibus sed, sodales a libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce nisi tortor, rutrum non massa vel, facilisis rutrum leo. Pellentesque pharetra massa sapien, id rhoncus urna venenatis vel.</p>
    </div>
</section>