@import "../../lib/_mixins";

.tnt-section-3{
    background: #F7F0E8;
    padding-top: 100px;
    padding-bottom: 200px;


    .filter-container{
        @include flex-init();
        @include flex-direction(row);
        @include justify-content(space-between);
        letter-spacing: 2px;
        margin-top: 100px;
        margin-bottom: 50px;
    
        .wrapper{
            @include flex-init();
            @include flex-direction(row);
            
    
    
            .price{
                width: 150px;
                border-bottom: 1px black solid;
                @include flex-init();
                @include flex-direction(row);
                @include justify-content(space-between);
                margin-right: 40px;
                padding-bottom: 10px;
                padding-left: 5px;
                
    
            }
    
            .illness{
                border-bottom :1px black solid;
                width: 150px;
                border-bottom: 1px black solid;
                @include flex-init();
                @include flex-direction(row);
                @include justify-content(space-between);
                padding-bottom: 10px;
                padding-left: 5px;
            }
        }
    
        .search{
            border-bottom: 1px black solid;
            width: 200px;
            padding-bottom: 10px;
            padding-left: 5px;
        }
    
    }
    
    .tips-cards-container{
        @include flex-init();
        @include flex-direction(row);
        @include flex-wrap();
        padding: 0 150px 50px 150px;
        margin-top: 100px;
        .tips-card{
            width: 33.3333333333%;
            height: 450px;
            margin-bottom: 50px;
            opacity: 0;
            
            @include trans(all .25s ease);
            @include transform(translateX(-50px));

            &:nth-child(2){
                @include trans-delay(.1s) 
            }
            &:nth-child(3){
                @include trans-delay(.2s) 
            }
            &:nth-child(4){
                @include trans-delay(.3s) 
            }
            &:nth-child(5){
                @include trans-delay(.4s) 
            }
            &:nth-child(6){
                @include trans-delay(.5s) 
            }
            
                

            

            &.fz-active{
                opacity: 1;
                @include transform(translateX(0));
            }

            
            .inner{
                position: relative;
                width: 95%;
                height: 100%;
                margin: auto;
            

                @include bg-img(cover, no-repeat, center);

                .text-container{
                    position: absolute;
                    background: white;
                    bottom: 0;
                    height: 45%;
                    padding: 0 10px 0 30px;
                }
            }
        }
    }

    .btn-brush{
        display: inline-block;
        margin: auto;
        @include bg-img(contain, no-repeat, center);
        background-image: url('../img/home/img_button.png');
        width: 250px;
        height: 70px;
        line-height: 65px;
        color: white;
        text-align: center;
        @include translate-x-center();
    }

}