
@import "../../lib/_mixins";

.tnt-section-2{
    width: 100%;
    background: white;
    padding-bottom: 100px;

    .tnt-tips-carousel{
        margin-right: 0;
        height: 250px;
        padding-left: 10%;
        padding-right: 0;
        width: 100%;
        background: white;
    
        .previous{
            display: none;
        }
    
        .next{
            margin-right: 25px;
        }
    
        .carousel-item{
            position: relative;
            width: 250px;
            height: 100%;
            opacity: 0.2;

            

            .carousel-brush{
                @include bg-img(contain, no-repeat, center);
                width: 100%;
                height: 100%;
                position: absolute;      
            }
    
            &.init-active{
                opacity: 1;
            }
    
            .carousel-item-inner{
                position: relative;
                z-index: 1;
                top: 50%;
                @include transform(translateY(-50%));
                width: 94%;
                height: 60%;
                color: white;
                text-align: center;
                @include flex-init();
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
    
                @include bg-img(cover, no-repeat, top);

                .color-layer{
                    @include flex-init();
                    @include flex-direction(column);
                    @include justify-content(center);
                    

                    span{
                        @include align-self(center);
                        display: block;
                        text-align: center;
                        max-width: 80%;
                        font-size: 18px;
                        line-height: 1.2;
                    }
                }
                
    
                span{
                    max-width: 60%;
                }
    
    
                &.img-1{
                    background-image: url('../img/products/bg_category1.jpg');

                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
    
                &.img-2{
                    background-image: url('../img/products/bg_category2.jpg');

                    .color-layer{
                        width: 100%;
                        height: 100%;
                    }
                }
    
                &.img-3{
                    background-image: url('../img/products/bg_category3.jpg');

                    .color-layer{
                        width: 100%;
                        height: 100%;
                    }
                }
    
                &.img-4{
                    background-image: url('../img/products/bg_category4.jpg');
                    .color-layer{
                        width: 100%;
                        height: 100%;
                    }
                }



                &.img-tips-1{
                    background-image: url('../img/tips_n_tricks/bg_category1.jpg');
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                &.img-tips-2{
                    background-image: url('../img/tips_n_tricks/bg_category2.jpg');
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                &.img-tips-3{
                    background-image: url('../img/tips_n_tricks/bg_category3.jpg');
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }

                &.img-tips-4{
                    background-image: url('../img/tips_n_tricks/bg_category4.jpg');
                    
                    .color-layer{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
            }
    
            &.init-active{
                opacity: 1;
            }
    
            &.item-active-1{
                opacity: 1
            }
    
            &.item-active-2{
                opacity: 1
            }
    
            &.item-active-3{
                opacity: 1
            }
    
            &.item-active-4{
                opacity: 1
            }
    
        }
    }
}