@import "../../lib/_mixins";

.tnt-section-1{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .parallax-img{
        position: absolute;
        width: 100%;
        height: 120%;
        @include bg-img(cover, no-repeat, center);
    }

    .title-container{
        position: absolute;
        left: 50%;
        top: 45%;
        @include transform(translate(-50%, -50%));
        max-width: 400px;
        text-align: center;

        .title{
            color: white;
            line-height: 0.9;
        }
    }

    .white-paint-decoration{
        position: absolute;
        width: 100%;
        height: 19vh;
        bottom: 0;
        @include bg-img(cover, no-repeat, center);
    }
}