<section class="diagnostic-section-1 section" >
    <div class="diagnostic-container">
        <div class="q-container content-container">
            <div class="title-container">
                <span class="opensansitalic">Introduction</span>
                <h1 class="main-title playfairdisplay">
                    <span>You are one step</span>
                    <span>closer to get your</span>
                    <span>diagnose</span>
                </h1>
            </div>
            <div class="desc-container">
                <div class="steps-container">
                    <div class="step">
                        <div class="step-point">
                            <span class="houschka">Go Diagnostic For Free</span>
                        </div>
                        <h2 class="houschka">STEP 1</h2>
                        <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="step">
                        <div class="step-point">
                            <span class="houschka">Get Result</span>
                        </div>
                        <h2 class="houschka">STEP 2</h2>
                        <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="step">
                        <div class="step-point">
                            <span class="houschka">Start Treatment</span>
                        </div>
                        <h2 class="houschka">STEP 3</h2>
                        <p class="houschkalight">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>

                <div class="text-container houschkalight">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit orci, interdum nec varius eu, gravida eget dolor. Nullam sit amet quam dapibus, pellentesque leo sed, facilisis tortor. Sed bibendum, nibh vitae dignissim scelerisque, ex sem porta est.</p>
                </div>
            </div>
            <div class="btn-brush houschka btn-continue" style="align-self: flex-end;"><span>CONTINUE</span></div> 
        </div>
        
    </div>
    
</section>