@import "../../lib/_mixins";

.diagnostic-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    @include bg-img(cover, no-repeat,center);
    background-image: url('../img/diagnostic/bg_diagnostic.jpg');
}