@import "../../lib/_mixins";

.products-section-4{
    position: relative;
    overflow: hidden;
    padding: 100px 0;

    .parallax-img{
        top: -100px;
        position: absolute;
        width: 100%;
        height: 120%;
    }
    
    .products-trending-carousel-container{

        .products-trending-carousel{
            .flickity-prev-next-button{
                display: none;
            }

            .flickity-page-dots{
                left: 0;
                right: 0;
            }
    
            /* white circles */
            .flickity-page-dots .dot {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: grey;
            }
            /* fill-in selected dot */
            .flickity-page-dots .dot.is-selected {
                background: white;
            }

            .carousel-item{
                width: 100%;
                @include flex-init();
                @include flex-direction(row);
                color: white;

                .img-container{
                    width: 35%;
                    text-align: right;
                    img{
                        width: 170px;
                    }
                }

                .text-container{
                    width: 65%;
                    padding: 50px 80px;

                    .small-heading{
                        display: block;
                        margin-bottom: 30px;
                    }

                    h2{
                        margin-bottom: 40px;
                    }

                    p{
                        margin-bottom: 30px;
                        max-width: 400px;
                    }

                    .btn-brush{
                        display: inline-block;
                        @include bg-img(contain, no-repeat, center);
                        width: 250px;
                        height: 70px;
                        line-height: 65px;
                        text-align: center;
                        margin-left: -10px;
                    }
                }
            }
        }
    }
}