@import "node_modules/quotrez/scss/quotrez";
@import "node_modules/fullpage.js/dist/jquery.fullpage";
@import "lib/_mixins";
@import "lib/_fonts";
@import "lib/_normalize";
@import "vendor/_icomoon";


@import "sections/home/home-section-1.scss";
@import "sections/home/home-section-2.scss";
@import "sections/home/home-section-3.scss";
@import "sections/home/home-section-4.scss";
@import "sections/home/home-section-5.scss";
@import "sections/home/home-section-6.scss";
@import "sections/home/home-section-7.scss";


