@import "node_modules/quotrez/scss/quotrez";
@import "node_modules/fullpage.js/dist/jquery.fullpage";
@import "lib/_mixins";
@import "lib/_fonts";
@import "lib/_normalize";
@import "lib/_gradients";
@import "vendor/_icomoon";

@import "sections/home/home-section-1.scss";
@import "sections/home/home-section-2.scss";
@import "sections/home/home-section-3.scss";
@import "sections/home/home-section-4.scss";
@import "sections/home/home-section-5.scss";
@import "sections/home/home-section-6.scss";
@import "sections/home/home-section-7.scss";


@import "sections/products/products-section-1.scss";
@import "sections/products/products-section-2.scss";
@import "sections/products/products-section-3.scss";
@import "sections/products/products-section-4.scss";
@import "sections/products/products-section-5.scss";


@import "sections/product-category/product-category-section-1.scss";
@import "sections/product-category/product-category-section-2.scss";
@import "sections/product-category/product-category-section-3.scss";


@import "sections/product-detail/product-detail-section-1.scss";
@import "sections/product-detail/product-detail-section-2.scss";
@import "sections/product-detail/product-detail-section-3.scss";
@import "sections/product-detail/product-detail-section-4.scss";
@import "sections/product-detail/product-detail-section-5.scss";

@import "sections/dng/dng-section-1.scss";
@import "sections/dng/dng-section-2.scss";

@import "sections/faq/faq-section-1.scss";
@import "sections/faq/faq-section-2.scss";

@import "sections/cart/cart-section-1.scss";

@import "sections/centers/centers-section-1.scss";

@import "sections/center-detail/center-detail-section-1.scss";
@import "sections/center-detail/center-detail-section-2.scss";
@import "sections/center-detail/center-detail-section-3.scss";
@import "sections/center-detail/center-detail-section-4.scss";


@import "sections/tnt/tnt-section-1.scss";
@import "sections/tnt/tnt-section-2.scss";
@import "sections/tnt/tnt-section-3.scss";

@import "sections/tntd/tntd-section-1.scss";
@import "sections/tntd/tntd-section-2.scss";


@import "sections/diagnostic/diagnostic.scss";
@import "sections/diagnostic/diagnostic-section-1.scss";
@import "sections/diagnostic/diagnostic-section-2.scss";

@import "sections/about/about-section-1.scss";
@import "sections/about/about-section-2.scss";
@import "sections/about/about-section-3.scss";

@import "sections/doctor-detail/doctor-detail-section-1.scss";
@import "sections/doctor-detail/doctor-detail-section-2.scss";


